//colores
$principal: #F0131E;
$secundario: #fff;
$color_t: rgb(32, 32, 32);

//fuente
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$fuente: 'Montserrat', sans-serif;
$normal: normal;
$bold: bold;