@import 'variables';
@import 'functions';
@import 'general';
@import 'mixins';

.container{
    @include wihema(60%, auto, auto);
    justify-content: center;
    
    .container-uno{
        @include wihema(60%, auto, auto);
        flex-wrap: nowrap;
        justify-content: center;
        
        .boton{
            @include wihema(50%, auto, auto);
            display: flex;
            justify-content: space-around;
            margin: 80px auto 20px;

            #buscador{
                @include botones($secundario, $color_t, 200px, 40px, 2px solid aclarar($principal,15%), 14px);
                padding-left: 15px;
                margin-right: 30px;
        
                &:hover{
                    @include hoverBotones(aclarar($principal,40%), $color_t, 2px solid $secundario);
                }
            }
    
            button{
                @include botones($principal, $secundario, 100px, 40px, none, 14px);                
                cursor: pointer;
                padding: 5px 20px;
                
                &:hover{
                    background-color: aclarar($principal, 15%);
                }
            }
        }

        #resultado{
            @include wihema(60%, auto, 20px auto);
            background-color: $secundario;
            border-radius: 20px;
            overflow: hidden;
            
            p{
                text-align: center;
                margin: 10px;
            }

            img{
                @include wihema(100%, 400px, auto);
                object-fit: cover;
            }
        }
    }
        
}

table{
    @include wihema(25%, auto,60px auto);
    border-collapse: collapse;
    background-color: $secundario;
    box-shadow: 0 0 20px oscurecer($principal, 20%);

    td, th{
        padding: 0.75rem;
        text-align: left;
        border-bottom: 1px solid oscurecer($secundario, 30%);
        background-color: $secundario;
        border-radius: 20px;
    }

    th{
        vertical-align: bottom;
        border-bottom: 2px solid oscurecer($secundario,30%);
        border-right: 2px solid oscurecer($secundario,30%);
    }

    tbody tr:nth-child(even){
        background-color: oscurecer($secundario, 15%);
    }

    tbody tr:hover{
        background-color: aclarar($principal, 20%);
    }
}